body h2{
    text-align: center;
    font-family: 'Pacifico';
    color: #D7CCC8;
}



.carousel-inner img{
    max-width: auto;
    max-height: 30%;
}

.row h3{
    margin-top: 10px;
    font-family: 'Pacifico';
    color: #D7CCC8;
    
}

.titulocard{
    margin-top: 20px;
    margin-bottom: 20px;
}

.row img{
    max-width: 180px;
    max-height: 180px;
}
